html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*,*::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
img  {
    display: block;
    max-width: 100%;
}
h1,h2,h3,h4,h5,h6,p {
    padding: 0;
    margin: 0;
}
body {
    margin: 0 ;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color:#E8E8E8 ;
   
}
.container {
    max-width: 1146px;
    margin: 0 auto;
}
:root {
   --color-ForestGreen: #16813B;
   --color-LightGreen: #8BAD8F;
   --color-PaleGreen: #D7F9DB;
   --color-MediumPurple: #9999CC;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(126, 126, 126);   
    border-radius: 5px;     
}
::-webkit-scrollbar-track {
    background-color: var(--color-white);
}

/* Header */
.header {
    min-width: 1440px;
    height: 114px;
    background-color: #fff;
}
.header-title {
    display: flex;
    align-items: center;
    padding-top: 3px;
}
.logo {
    margin-right: 181px;
}
.header-logo {
}

.menu {
    margin-top: 10px;
    z-index:2;
}
.menu a {
    text-decoration: none;
}
.menu li {
    position: relative;
    list-style: none;
}
.menu__list {
    display: flex;
    
    
}
.menu__list>li {
    margin-right: 55px;
}
.menu__list>li:hover .sub-menu__list {
    display: block;
}
.menu__link {
    
    white-space: nowrap;
    color: #000;
    font-size: 24px;
}
.sub-menu__list {
    display: none;
    position: absolute;
    left: 0;
    top: 20px;
    padding-top: 20px;
    border-radius: 20px;
    
}
.sub-menu__list>li {
    
    background-color: var(--color-LightGreen);
    border: 1px solid #000;
    border-radius: 1px;
    text-align: center;
}
.sub-menu__link {
    color: rgb(255, 255, 255);
    font-size: 24px;
}

.header-search {
    margin-left: 110px;
}
.search {
}

/* section-1 */

.section-1 {
    background-image: url(../img/Group\ 2.jpg);
    height: 526px;
    min-width: 1440px;
    box-shadow: inset 0 0 15px;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec1 {
    display: flex;
    padding-top: 50px;
}
.text-section-1 {
    max-width: 330px;
    height: 244px;
    margin-right: 229px;
}
.h1 {
    margin-top: 40px;
    font-weight: bold;
    font-size: 64px;
    color: #fff;
}
.p {
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
}
.btn {
    margin-top: 25px;
    width: 167px;
    height: 51px;
    border: none;
    font-family: 'Comfortaa', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border-radius: 13px;
    background-color: var(--color-MediumPurple);
    box-shadow: 0.4em 0.4em 9px rgba(122,122,122,0.5);
}
.btn a {
    text-decoration: none;
    color: #fff;
}


/* Slider */
.container_slick{
    margin-top: 40px;
    width: 500px;
    margin-left: 100px;
    
}
.rev_slider {
}
.slide {
    margin-right: 25px;
    border-radius: 2%;
}

.photo {
    background-image: url(../img/IMG-6232\ 1.jpg);
    width: 500px;
    height:300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1%;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .75;
    color: rgb(255, 255, 255);
    -webkit-font-smoothing: antialiased;
}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: rgb(0, 0, 0);
}

/* Menu 2 */

.section-menu-2 {
    margin-top: 40px;
}

.menu-2 {
}
.menu-2 a {
    text-decoration: none;
}
.menu-2 li {
    position: relative;
    list-style: none;
}

.menu__list-2 {
    display: flex;
    justify-content: space-between;   
}
.section-menu-2 .menu__link {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    padding: 7px 20px;
    background-color: var(--color-LightGreen);
}
.section-menu-2 .menu__link>li{
   
}
.sub-menu__list {
}
.sub-menu__link {
}

/* News */

.section-news {
    margin-top: 52px;
}
.h1-news {
    font-size: 64px;
    color: #000;
    font-weight: 400;
}
.line1 {
}
.news {
    margin-top:30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 180px;  
}
.card {
    box-shadow: 0.4em 0.4em 15px rgba(122,122,122,0.5);
    height: 360px;
    width: 260px;
    background-color: #fff;
    text-align: center;  
}
.card-img { 
    
}
.h3-news {
    margin-top: 10px;
    font-family: 'Comfortaa', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}
.p-news {
    margin-top: 15px;
    font-family: 'Comfortaa', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000;
}
.p-news-bold {
    margin-top: 15px;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    padding-bottom: 10px;
}
.more {
    margin-left:130px;
    font-family: 'Comfortaa', sans-serif;
    font-size: 14px;
    color: #000;
    text-decoration: none;
}


/* gallery */
.rev_slider2{
    margin-right: 54px;
    margin-left: 34px;
    padding-top: 28px;
    padding-left: 25px;
    padding-right: 8px;    
}
.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 30px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
}
.gallery-slide {
    margin: 0 auto;
}
.gallery-photo {
    background-image: url(../img/IMG_2624\ \(1\)\ 3.jpg);
    width: 330px;
    height:277px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5%;
}
.photo {
}


.section-gallery {
    margin-top: 77px;
}
.h1-gallery {
    font-size: 64px;
    font-weight: 400;
    color: #000;
}
.line2 {
    padding-bottom: 28px;
}
.gallery {
    max-width: 1186px;
    height: 331px;
    background-color: var(--color-LightGreen);
}


/* footer */

.footer-1 {
    background-color: #fff;
    min-width: 1440px;
    height: 260px;
    margin-top: 60px;

}
.footer-container {
    margin-right: auto;
    display: flex;
    margin-top: 45px;
}
.footre-nav{
    margin-right: 80px;
}
.footre-nav li {
    list-style: none;
}
.footer-nav-p {
    font-size: 26px;
    color: #000;
    font-weight: 400;
    padding-bottom: 10px;

}
.sub-footer-nav {
}
.sub-footer-nav-p {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    padding: 0px 0;
}

.sub-footer-nav-p>li {
}
.footer-contacts li {
    list-style: none;
}
.footer-con-p {
    font-size: 26px;
    color: #000;
    font-weight: 400;
    padding-bottom: 10px;
}
.sub-footer-contacts {
}
.sub-footer-con-p {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 400;
}

.flex{
    display: flex;

}
.footer-logo {
margin-top: 40px;
}
.footer-logo-img {
    margin: auto;
}
.p-icon {
    margin-top: 30px;
    font-family: 'Comfortaa', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-2 {
    height: 55px;
}
.p-footer-2 {
    margin-top: 30px;
    font-family: 'Comfortaa', sans-serif;
    font-size: 14;
    font-weight: 400;
}




